
body{
  /* bg-[#F2F2F7] */
  background-color: #f4f4f4;
  color: #3b3b3b;
}
.hov-side-icon:hover{
  color: #2598F2;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

#file-input {
  display: none;
}
